.find-button-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.find-btn-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  width:100%;
}

.find-btn-group button{
   flex: 1; /* 각각 동일한 비율로 공간 차지 */
}

.primary-btn {
  background-color: #007bff;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #0056b3;
}